# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/*
!logs/.gitkeep

# Data
data/raw/*
data/processed/*
data/approved/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/approved/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Attachments
attachments/*
!attachments/.gitkeep